{{#if this.isLarge}}
    <button type="button" {{on "click" this.toogleSize}} class="image {{if this.isLarge "large"}}">
        <img ...attributes>
        <small>View Smaller</small>
    </button>
{{else}}
    <button type="button" {{on "click" this.toogleSize}} class="image">
        <img ...attributes>
        <small>View Larger</small>
    </button>
{{/if}}